
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table-card {
  padding: 50px 10px;
}

.container {
  height: 500px;
}

.card-left {
  text-align: right;
}

.play-card {
  padding-right: 4px;
}

.player-total {
  width: 100%;
}

.result {
  width: 100%;
}

.center {
  text-align:center;
}